@model BookReading.Models.IndexListView

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-hover">
    <thead class="thead-inverse">
    <tr>
        <th scope="col">Название кники</th>
        <th scope="col">Автор</th>
        <th scope="col">Описание</th>
        <th scope="col">Кол-во страниц</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in Model.books)
    {
        <tr data-id="@book.Id" onclick="window.location.href='/Book/Details/' + this.getAttribute('data-id')">
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td>@book.Description</td>
            <td>@book.Pages</td>
        </tr>
    } 
    </tbody>
</table>

<hr/>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        @foreach (int index in Enumerable.Range(Model.currentPage, 5))
        {
            <li class="page-item">
                @Html.ActionLink(index.ToString(), "List", new {currentPage = index}, new { @class = "page-link", @style = "color: black" })
            </li>
        } 
    </ul>
</nav>   
